<div id="mx-content">
  <div class="contextual">
<% if User.current.allowed_to?(:manage_mx_tables, @project) %>
    <%= link_to l('mx.label_database_new'), new_project_mx_database_path(@project), class: 'icon icon-add' %>
<% end %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_databases_index') %></h2>
<% if @databases.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div id="mx-databases" class="mx-area">
    <table class="mx-grid">
      <thead>
        <tr>
          <th><%= mx_label_for('database_identifier') %></th>
          <th><%= mx_label_for('dbms_product') %></th>
          <th><%= mx_label_for('summary') %></th>
          <th><%= mx_label_for('comment') %></th>
          <th><%= mx_label_for('table_count') %></th>
  <% if User.current.allowed_to?(:manage_mx_tables, @project) %>
          <th></th>
  <% end %>
        </tr>
      </thead>
      <tbody>
  <% @databases.each do |database| %>
        <tr>
          <td><%= link_to database.identifier, project_mx_database_tables_path(@project, database) %></td>
          <td><%= database.dbms_product.try(:name) %></td>
          <td><%= database.summary %></td>
          <td><%= simple_format_without_paragraph(database.comment) %></td>
          <td><%= database.tables.count %></td>
  <% if User.current.allowed_to?(:manage_mx_tables, @project) %>
          <td>
            <%= link_to l(:button_edit), edit_project_mx_database_path(@project, database),  class: 'icon icon-edit' %>
            <%= link_to l(:button_delete), project_mx_database_path(@project, database), data: { confirm: l(:text_are_you_sure) }, method: :delete, class: 'icon icon-del' %>
          </td>
  <% end %>
        </tr>
  <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>

<% html_title(l('mx.title_databases_index')) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>
