<div id="mx-content">
  <%= mx_database_tabs(@database, :column_sets) %>
  <div class="contextual">
    <%= link_to l(:button_back), project_mx_database_column_sets_path(@project, @database),  class: 'icon icon-cancel' %>
<% if User.current.allowed_to?(:manage_mx_tables, @project) %>
    <%= link_to l(:button_edit), edit_project_mx_database_column_set_path(@project, @database, @column_set),  class: 'icon icon-edit', accesskey: accesskey(:edit) %>
    <%= link_to l(:button_delete), project_mx_database_column_set_path(@project, @database, @column_set), data: { confirm: l(:text_are_you_sure) }, method: :delete, class: 'icon icon-del' %>
<% end %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_column_sets_show') %></h2>
  <p id="mx-column-set">
    <table class="mx-defs">
      <tbody>
        <tr>
          <th><%= mx_label_for('database') %></th>
          <td><%= @database.identifier %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('column_set_name') %></th>
          <td><%= @column_set.name %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('comment') %></th>
          <td><%= simple_format_without_paragraph(@column_set.comment) %></td>
        </tr>
      </tbody>
    </table>
  </p>
  <h2 class="mx-section-caption"><%= l('mx.title_columns') %></h2>
  <p id="mx-columns">
    <table class="mx-grid">
      <thead>
        <tr>
          <th></th>
          <th><%= mx_label_for('physical_name', required: true) %></th>
          <th><%= mx_label_for('logical_name') %></th>
          <th><%= mx_label_for('data_type', required: true) %></th>
          <th><%= mx_label_for('size') %></th>
          <th><%= mx_label_for('scale') %></th>
          <th><%= mx_label_for('nullable') %></th>
          <th><%= mx_label_for('default_value') %></th>
          <th><%= mx_label_for('comment') %></th>
        </tr>
      </thead>
      <tbody>
<% @column_set.columns.each do |column| %>
        <tr id="mx-column-<%= column.id %>">
          <td><%= column.type[2] %></td>
          <td><%= column.physical_name %></td>
          <td><%= column.logical_name %></td>
          <td><%= column.data_type.name %></td>
          <td class="mx-numeric"><%= column.size %></td>
          <td class="mx-numeric"><%= column.scale %></td>
          <td class="mx-mark-cell"><%= mx_bool_icon(column.nullable, blank_true: true) %></td>
          <td><%= column.default_value %></td>
          <td><%= column.comment %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </p>
</div>

<% html_title(l('mx.title_column_sets_detail', name: @column_set.name)) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>
