<h2 class="mx-section-caption"><%= l('mx.title_columns') %></h2>
<div id="mx-columns" class="mx-area">
  <table class="mx-grid">
    <thead>
      <tr>
        <th></th>
        <th><%= mx_label_for('primary_key_short_name') %></th>
        <th><%= mx_label_for('physical_name') %></th>
        <th><%= mx_label_for('logical_name') %></th>
        <th><%= mx_label_for('data_type') %></th>
        <th><%= mx_label_for('size') %></th>
        <th><%= mx_label_for('scale') %></th>
        <th><%= mx_label_for('nullable') %></th>
        <th><%= mx_label_for('default_value') %></th>
        <th><%= mx_label_for('comment') %></th>
      </tr>
    </thead>
    <tbody>
<% table.columns.each do |column| %>
      <tr id="mx-column-<%= column.id %>">
        <td class="mx-mark-cell"><%= column.type[2] unless column.is_a?(MxTableColumn) %></td>
        <td><%= table.primary_key.position_for(column) if table.primary_key %></td>
        <td><%= column.physical_name %></td>
        <td><%= column.logical_name %></td>
        <td><%= column.data_type.name %></td>
        <td class="mx-numeric"><%= column.size %></td>
        <td class="mx-numeric"><%= column.scale %></td>
        <td class="mx-mark-cell"><%= mx_bool_icon(column.nullable, blank_true: true) %></td>
        <td><%= column.default_value %></td>
        <td><%= column.comment %></td>
      </tr>
<% end %>
    </tbody>
  </table>
</div>

