<div id="mx-table" class="mx-area">
  <table class="mx-defs">
    <tbody>
      <tr>
        <th><%= mx_label_for('database') %></th>
        <td><%= database.identifier %></td>
      </tr>
      <tr>
        <th><%= mx_label_for('physical_name', required: true) %></th>
        <td class="{{classFor(this, 'physical_name')}}">
          <%= text_field 'mx_table', 'physical_name', size: 70, 'v-model' => 'physical_name' %>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('logical_name') %></th>
        <td class="{{classFor(this, 'logical_name')}}">
          <%= text_field 'mx_table', 'logical_name', size: 70, 'v-model' => 'logical_name' %>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('primary_key_name') %></th>
        <td class="{{classFor(this, 'primary_key_name')}}">
          <%= text_field 'mx_table[primary_key]', 'name', size: 70, 'v-model' => 'primary_key.name' %>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('comment') %></th>
        <td><%= text_area 'mx_table', 'comment', size: '70x8', 'v-model' => 'comment' %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= render partial: 'mx_tables/forms/columns', locals: { database: database } %>
<%= render partial: 'mx_tables/forms/indices' %>
<%= render partial: 'mx_tables/forms/foreign_keys', locals: { other_tables: other_tables } %>
