<h2 class="mx-section-caption"><%= l('mx.title_referenced_keys') %></h2>
<div id="mx-columns" class="mx-area">
  <table class="mx-grid">
    <thead>
      <tr>
        <th><%= mx_label_for('referenced_columns') %></th>
        <th><%= mx_label_for('referrer') %></th>
        <th><%= mx_label_for('foreign_key_name') %></th>
        <th><%= mx_label_for('columns') %></th>
        <th><%= mx_label_for('comment') %></th>
      </tr>
    </thead>
    <tbody>
<% table.referenced_keys.each do |referenced_key| %>
      <tr id="mx-referenced-key-<%= referenced_key.id %>">
        <td><%= mx_enumerate_texts_with_wbr(referenced_key.relations.map(&:ref_column).map(&:physical_name)) %></td>
        <td><%= link_to(referenced_key.table.physical_name, project_mx_database_table_path(referenced_key.table.project, referenced_key.table.database, referenced_key.table)) %></td>
        <td><%= referenced_key.name %></td>
        <td><%= mx_enumerate_texts_with_wbr(referenced_key.relations.map(&:column).map(&:physical_name)) %></td>
        <td><%= referenced_key.comment %></td>
      </tr>
<% end %>
    </tbody>
  </table>
</div>

