<%= error_messages_for(@vue_model) %>
<div id="mx-content">
  <%= mx_database_tabs(@database, :tables) %>
  <div class="contextual">
    <%= link_to l(:button_back), project_mx_database_table_path(@project, @database, @table),  class: 'icon icon-cancel' %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_tables_edit') %></h2>
  <%= form_for(@table, url: project_mx_database_table_path(@project, @database, @table), method: :put, html: { id: 'mx_table_form' }) do |f| %>
    <%= hidden_field_tag 'mx_table[lock_version]', @table.lock_version %>
    <%= render partial: 'form', locals: { f: f, database: @database } %>
    <%= mx_submit l(:button_update) %>
    <%= link_to l(:button_cancel), project_mx_database_table_path(@project, @database, @table) %>
  <% end %>
</div>

<% html_title(l('mx.title_tables_edit')) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>

<%= javascript_include_tag 'vue', plugin: 'redmine_mx' %>
<%= javascript_include_tag 'redmine_mx', plugin: 'redmine_mx' %>
<%= javascript_tag "var vm = prepareMxTableVue(#{@vue_model.to_json}, jQuery);" %>
