<div id="mx-content">
  <%= mx_database_tabs(@database, :tables) %>
  <div class="contextual">
    <%= link_to l(:button_back), project_mx_database_tables_path(@project, @database),  class: 'icon icon-cancel' %>
<% if User.current.allowed_to?(:manage_mx_tables, @project) %>
    <%= link_to l(:button_edit), edit_project_mx_database_table_path(@project, @database, @table),  class: 'icon icon-edit', accesskey: accesskey(:edit) %>
    <%= link_to l(:button_delete), project_mx_database_table_path(@project, @database, @table), data: { confirm: l(:text_are_you_sure) }, method: :delete, class: 'icon icon-del' %>
<% end %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_tables_show') %></h2>
  <div id="mx-table" class="mx-area">
    <table class="mx-twin-defs">
      <tbody>
        <tr>
          <th><%= mx_label_for('physical_name') %></th>
          <td><%= @table.physical_name %></td>
          <th><%= mx_label_for('logical_name') %></th>
          <td><%= @table.logical_name %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('database') %></th>
          <td><%= @database.identifier %></td>
          <th><%= mx_label_for('primary_key_name') %></th>
          <td><%= @table.primary_key.try(:name) %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('created_user') %></th>
          <td><%= link_to_user(@table.created_user) %> <br />(<%= format_time(@table.created_at) %>)</td>
          <th><%= mx_label_for('updated_user') %></th>
          <td><%= link_to_user(@table.updated_user) %> <br />(<%= format_time(@table.updated_at) %>)</td>
        </tr>
        <tr>
          <th><%= mx_label_for('comment') %></th>
          <td colspan="3"><%= simple_format_without_paragraph(@table.comment) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= render partial: 'columns', locals: { table: @table } %>
  <%= render partial: 'indices', locals: { table: @table } if @table.indices.present? %>
  <%= render partial: 'foreign_keys', locals: { table: @table } if @table.foreign_keys.present? %>
</div>

<% html_title(l('mx.title_tables_detail', name: @table.physical_name)) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>
