<p id="mx-dbms-product">
  <table class="mx-defs">
    <tbody>
      <tr>
        <th><%= mx_label_for('dbms_product_name', required: true) %></th>
        <td class="{{classFor(this, 'name')}}">
          <%= text_field 'mx_dbms_product', 'name', size: 70, 'v-model' => 'name' %>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('dbms_product_type', required: true) %></th>
        <td class="{{classFor(this, 'type')}}">
          <%= select 'mx_dbms_product', 'type', MxDbmsProduct::PRODUCT_TYPES.map { |k, v| [v, k] }, { include_blank: true }, 'v-model' => 'type' %>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('comment') %></th>
        <td><%= text_area 'mx_dbms_product', 'comment', size: '70x5', 'v-model' => 'comment' %></td>
      </tr>
    </tbody>
  </table>
</p>
<h2 class="mx-section-caption"><%= l('mx.title_data_types') %></h2>
<p id="mx-data-types">
  <table class="mx-grid">
    <thead>
      <tr>
        <th><%= mx_image_button 'add', 'v-on' => "click: addDataType" %></th>
        <th><%= mx_label_for('data_type_name', required: true) %></th>
        <th><%= mx_label_for('sizable') %></th>
        <th><%= mx_label_for('scalable') %></th>
        <th><%= mx_label_for('use_by_default') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-repeat="data_type: data_types" id="mx-data-type-{{data_type.id}}" class="mx-data-type mx-fade" v-transition>
        <% prefix = 'mx_dbms_product[data_types][{{data_type.id}}]' %>
        <td><%= mx_image_button 'duplicate', 'v-on' => "click: duplicateDataType(this)" %></td>
        <td class="{{classFor(data_type, 'name')}}">
          <input type="hidden" name="<%= prefix %>[id]" v-model="data_type.id" />
          <input type="hidden" name="<%= prefix %>[position]" v-model="$index" />
          <input type="text" class="mx-data-type-name" name="<%= prefix %>[name]" v-model="data_type.name" size="40" />
        </td>
        <td class="mx-mark-cell"><input type="checkbox" class="mx-data-type-sizable" name="<%= prefix %>[sizable]" value="true" v-model="data_type.sizable"/></td>
        <td class="mx-mark-cell"><input type="checkbox" class="mx-data-type-scalable" name="<%= prefix %>[scalable]" value="true" v-model="data_type.scalable"/></td>
        <td class="mx-mark-cell"><input type="checkbox" class="mx-data-type-use_by_default" name="<%= prefix %>[use_by_default]" value="true" v-model="data_type.use_by_default"/></td>
        <td><%= mx_image_button 'delete', 'v-on' => "click: removeDataType(this)" %></td>
      </tr>
    </tbody>
  </table>
</p>

