<div id="mx-content">
  <div class="contextual">
    <%= link_to l('mx.label_dbms_product_new'), new_mx_dbms_product_path, class: 'icon icon-add' if User.current.admin? %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_dbms_products_index') %></h2>
<% if @dbms_products.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div id="mx-dbms-products" class="mx-area">
    <table class="mx-grid">
      <thead>
        <tr>
          <th><%= mx_label_for('dbms_product_name') %></th>
          <th><%= mx_label_for('dbms_product_type') %></th>
          <th><%= mx_label_for('comment') %></th>
        </tr>
      </thead>
      <tbody>
  <% @dbms_products.each do |dbms_product| %>
        <tr>
          <td><%= link_to dbms_product.name, mx_dbms_product_path(dbms_product) %></td>
          <td><%= dbms_product.type_name %></td>
          <td><%= simple_format_without_paragraph(dbms_product.comment) %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>

<% html_title(l('mx.title_dbms_products_index')) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>
