<div id="mx-content">
  <div class="contextual">
    <%= link_to l(:button_back), mx_dbms_products_path,  class: 'icon icon-cancel' %>
<% if User.current.admin? %>
    <%= link_to l(:button_edit), edit_mx_dbms_product_path(@dbms_product),  class: 'icon icon-edit', accesskey: accesskey(:edit) %>
    <%= link_to l(:button_delete), mx_dbms_product_path(@dbms_product), data: { confirm: l(:text_are_you_sure) }, method: :delete, class: 'icon icon-del' %>
<% end %>
  </div>
  <h2 class="mx-section-caption"><%= l('mx.title_dbms_products_show') %></h2>
  <p id="mx-dbms-product">
    <table class="mx-defs">
      <tbody>
        <tr>
          <th><%= mx_label_for('dbms_product_name') %></th>
          <td><%= @dbms_product.name %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('dbms_product_type') %></th>
          <td><%= @dbms_product.type_name %></td>
        </tr>
        <tr>
          <th><%= mx_label_for('comment') %></th>
          <td><%= simple_format_without_paragraph(@dbms_product.comment) %></td>
        </tr>
      </tbody>
    </table>
  </p>
  <h2 class="mx-section-caption"><%= l('mx.title_data_types') %></h2>
  <p id="mx-data-types">
    <table class="mx-grid">
      <thead>
        <tr>
          <th><%= mx_label_for('data_type_name') %></th>
          <th><%= mx_label_for('sizable') %></th>
          <th><%= mx_label_for('scalable') %></th>
          <th><%= mx_label_for('use_by_default') %></th>
        </tr>
      </thead>
      <tbody>
<% @dbms_product.data_types.each do |data_type| %>
        <tr>
          <td><%= data_type.name %></td>
          <td class="mx-mark-cell"><%= mx_bool_icon(data_type.sizable) %></td>
          <td class="mx-mark-cell"><%= mx_bool_icon(data_type.scalable) %></td>
          <td class="mx-mark-cell"><%= mx_bool_icon(data_type.use_by_default) %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </p>
</div>

<% html_title(l('mx.title_dbms_products_detail', name: @dbms_product.name)) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_mx', plugin: 'redmine_mx' %>
<% end %>
