<h2 class="mx-section-caption"><%= l('mx.title_columns') %></h2>
<div id="mx-columns" class="mx-area">
  <div class="mx-header-commands">
    <%= mx_label_for('column_set') %>: <select id="mx_table_column_set_id" name="mx_table[column_set_id]" v-model="column_set_id" v-on="change: changeColumnSet"><%= mx_options_from_collection(database.column_sets) %></select>
  </div>
  <table class="mx-grid">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th><%= mx_label_for('primary_key_short_name') %></th>
        <th><%= mx_label_for('physical_name', required: true) %></th>
        <th><%= mx_label_for('logical_name') %></th>
        <th><%= mx_label_for('data_type', required: true) %></th>
        <th><%= mx_label_for('size') %></th>
        <th><%= mx_label_for('scale') %></th>
        <th><%= mx_label_for('nullable') %></th>
        <th><%= mx_label_for('default_value') %></th>
        <th><%= mx_label_for('comment') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr v-repeat="column: headerColumns" class="mx-column mx-common-column">
        <%= render partial: 'mx_tables/forms/common_column_row', locals: { mark: 'H' } %>
      </tr>
      <tr v-repeat="column: table_columns" id="mx-column-{{column.id}}" class="mx-column mx-table-column mx-fade" v-transition>
        <% prefix = "mx_table[table_columns][{{column.id}}]" %>
        <td><%= mx_image_button 'add', 'v-on' => 'click: insertColumn(this)' %></td>
        <td class="mx-reorder-buttons">
          <%= mx_empty_icon 'v-show' => '$index === 0' %>
          <%= mx_image_button 'up', icon: '1uparrow.png', 'v-on' => 'click: upColumn(this)', 'v-show' => '$index !== 0' %>
          <%= mx_image_button 'down', icon: '1downarrow.png', 'v-on' => 'click: downColumn(this)', 'v-show' => '$index !== table_columns.length - 1' %>
        </td>
        <%= render partial: 'mx_tables/forms/primary_key_column_cell' %>
        <td class="{{classFor(column, 'physical_name')}}">
          <input type="hidden" name="<%= prefix %>[id]" v-model="column.id" />
          <input type="hidden" name="<%= prefix %>[position]" v-model="$index" />
          <input type="text" class="mx-column-physical-name" name="<%= prefix %>[physical_name]" v-model="column.physical_name" size="30" />
        </td>
        <td class="{{classFor(column, 'logical_name')}}">
          <input type="text" class="mx-column-logical-name" name="<%= prefix %>[logical_name]" v-model="column.logical_name" size="30" />
        </td>
        <td class="{{classFor(column, 'data_type_id')}}">
          <select class="mx-column-data-type" name="<%= prefix %>[data_type_id]" v-model="column.data_type_id" v-on="change: changeDataType(this)">
            <%= mx_options_from_collection(database.dbms_product.data_types) %>
          </select>
        </td>
        <td class="{{classFor(column, 'size')}}">
          <input type="text" class="mx-column-size mx-numeric" name="<%= prefix %>[size]" v-attr="disabled: !sizeEditable(this)" v-model="column.size" size="5" />
        </td>
        <td class="{{classFor(column, 'scale')}}">
          <input type="text" class="mx-column-scale mx-numeric" name="<%= prefix %>[scale]" v-attr="disabled: !scaleEditable(this)" v-model="column.scale" size="5" />
        </td>
        <td class="mx-nullable-check mx-nowrap">
          <input type="checkbox" id="mx-column-nullable-{{column.id}}" class="mx-column-nullable" name="<%= prefix %>[nullable]" value="true" v-model="column.nullable"/>
          <label for="mx-column-nullable-{{column.id}}">
            <%= image_tag('false.png', alt: l('mx.hint_not_null'), title: l('mx.hint_not_null'), 'v-show' => '!column.nullable') %>
            <%= image_tag('true.png', alt: l('mx.hint_nullable'), title: l('mx.hint_nullable'), 'v-show' => 'column.nullable') %>
          </label>
        </td>
        <td class="{{classFor(column, 'default_value')}}">
          <input type="text" class="mx-column-default-value" name="<%= prefix %>[default_value]" v-model="column.default_value" size="30" />
        </td>
        <td><input type="text" class="mx-column-comment" name="<%= prefix %>[comment]" v-model="column.comment" size="50" /></td>
        <td><%= mx_image_button 'delete', 'v-on' => "click: removeColumn(this)" %></td>
      </tr>
      <tr v-repeat="column: footerColumns" class="mx-column mx-common-column">
        <%= render partial: 'mx_tables/forms/common_column_row', locals: { mark: 'F' } %>
      </tr>
    </tbody>
  </table>
  <div class="mx-footer-commands">
    <%= link_to l('mx.label_column_new'), '#mx-columns',  class: 'icon icon-add', 'v-on' => 'click: addColumn' %>
  </div>
</div>

