<div id="mx-table-change-matadata" class="mx-area">
  <table class="mx-defs">
    <tbody>
      <tr>
        <th><%= mx_label_for('relational_issues') %></th>
        <td>
          <ul id="mx-relational-issues" class="mx-list">
            <li v-repeat="relationalIssue: relationalIssues" id="mx-relational-issue-{{relationalIssue.id}}" class="mx-relational-issue mx-fade" v-transition>
              <input type="hidden" name="mx_table[relational_issue_ids][]" v-model="relationalIssue.id" />
              <a href="/issues/{{relationalIssue.id}}">{{relationalIssue.tracker}} #{{relationalIssue.id}}</a>: {{relationalIssue.subject}}
            </li>
          </ul>
          <div>
            <%= l(:label_issue) %> #<%= text_field_tag :mx_relational_issue_id, '', size: 10 %>
            <input type="button" id="mx-add-relational-issue" value="<%= l(:button_add) %>" v-on="click: addRelationalIssue()" />
          </div>
        </td>
      </tr>
      <tr>
        <th><%= mx_label_for('change_summary') %></th>
        <td><%= text_area 'mx_table', 'change_summary', size: '70x8', 'v-model' => 'change_summary' %></td>
      </tr>
    </tbody>
  </table>
</div>
