<div class="contextual">
  <a href="#mk-primary-key" v-on="click: editPrimaryKey" v-if="!editingPrimaryKey" class="icon icon-edit"><%= l(:button_edit) %></a>
  <a href="#mk-primary-key" v-on="click: hidePrimaryKey" v-if="editingPrimaryKey"><%= l('mx.button_hide') %></a>&nbsp;
  <a href="#mk-primary-key" v-on="click: deletePrimaryKey" v-if="editingPrimaryKey" class="icon icon-del"><%= l(:button_delete) %></a>
</div>
<h2 class="mx-section-caption"><%= l('mx.title_primary_key') %></h2>
<p id="mx-primary-key">
  <div class="mx-fade" v-show="editingPrimaryKey" v-transition>
    <div>
      <table class="mx-defs">
        <tbody>
          <tr>
            <th><%= mx_label_for('primary_key_name', required: true) %></th>
            <td class="{{classFor(primary_key, 'name')}}">
              <%= text_field 'primary_key', 'name', size: 70, 'v-model' => 'primary_key.name' %>
            </td>
          </tr>
          <tr>
            <th><%= mx_label_for('comment') %></th>
            <td><%= text_area 'primary_key', 'comment', size: '70x8', 'v-model' => 'primary_key.comment' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div class="mx-float-area">
      <div class="mx-float-left">
        <h3 class="mx-section-catpion"><%= l('mx.label_columns') %></h3>
        <table class="mx-grid">
          <tbody>
            <tr v-repeat="columnId: primaryKeySelectableColumnIds">
              <td><%= mx_image_button 'add', 'v-on' => 'click: addToPrimaryKey(this)' %></td>
              <td>{{getColumn(columnId).physical_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mx-float-right">
        <h3 class="mx-section-catpion"><%= l('mx.label_selected_columns') %></h3>
        <table class="mx-grid">
          <tbody>
            <tr v-repeat="columnId: primary_key.column_ids">
              <td>{{$index + 1}}</td>
              <td>
                <%= mx_empty_icon 'v-show' => '$index === 0 && $index !== primary_key.column_ids.length - 1' %>
                <%= mx_image_button 'up', icon: '1uparrow.png', 'v-on' => 'click: upPrimaryKeyColumn(this)', 'v-show' => '$index !== 0' %>
                <%= mx_image_button 'down', icon: '1downarrow.png', 'v-on' => 'click: downPrimaryKeyColumn(this)', 'v-show' => '$index !== primary_key.column_ids.length - 1' %>
              </td>
              <td>{{getColumn(columnId).physical_name}}</td>
              <td><%= mx_image_button 'delete', 'v-on' => "click: removeFromPrimaryKey(this)" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</p>
